body {
  background-color: #a5fad5;
}
hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: gray;
  width: 5%;
}
h1{
  color: #03a184;
  font-style: italic;
}
h3{
  color: #03a184
}
